aiohttp==3.8.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
aiosignal==1.3.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
albumentations==1.3.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
anomalib==0.4.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
anomalibtools @ https://github.com/hanshannus/anomalib-tools/releases/download/v0.1.2/anomalibtools-0.1.2-py3-none-any.whl ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
antlr4-python3-runtime==4.9.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
async-timeout==4.0.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
attrs==22.2.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
av==10.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
azure-ai-ml==1.4.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
azure-common==1.1.28 ; python_full_version >= "3.8.1" and python_version < "4.0"
azure-core==1.26.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
azure-identity==1.12.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
azure-mgmt-core==1.3.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
azure-storage-blob==12.15.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
azure-storage-file-datalake==12.10.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
azure-storage-file-share==12.11.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
boto3==1.26.89 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
botocore==1.29.89 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
certifi==2022.12.7 ; python_full_version >= "3.8.1" and python_version < "4.0"
cffi==1.15.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
charset-normalizer==3.1.0 ; python_full_version >= "3.8.1" and python_version < "4"
colorama==0.4.6 ; python_full_version >= "3.8.1" and python_version < "4.0"
contextlib2==21.6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
contourpy==1.0.7 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
cryptography==39.0.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
cycler==0.11.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
dill==0.3.6 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
docstring-parser==0.15 ; python_full_version >= "3.8.1" and python_version < "4.0"
einops==0.6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
filelock==3.9.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
fonttools==4.39.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
freia==0.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
frozenlist==1.3.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
fsspec[http]==2023.3.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
google-pasta==0.2.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
huggingface-hub==0.13.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
idna==3.4 ; python_full_version >= "3.8.1" and python_version < "4"
imageio==2.26.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
imgaug==0.4.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
importlib-metadata==4.13.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
importlib-resources==5.12.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
isodate==0.6.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
jmespath==1.0.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
joblib==1.2.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
jsonargparse[signatures]==4.20.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
jsonschema==4.17.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
kiwisolver==1.4.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
kornia==0.6.9 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
lazy-loader==0.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
lightning-utilities==0.8.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
loguru==0.6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
marshmallow==3.19.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
matplotlib==3.7.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
msal-extensions==1.0.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
msal==1.21.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
msrest==0.7.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
multidict==6.0.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
multiprocess==0.70.14 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
networkx==3.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
numpy==1.24.2 ; python_full_version < "4.0.0" and python_full_version >= "3.8.1"
nvidia-cublas-cu11==11.10.3.66 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Linux"
nvidia-cuda-nvrtc-cu11==11.7.99 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Linux"
nvidia-cuda-runtime-cu11==11.7.99 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Linux"
nvidia-cudnn-cu11==8.5.0.96 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Linux"
oauthlib==3.2.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
omegaconf==2.3.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
opencv-python-headless==4.7.0.72 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
opencv-python==4.7.0.72 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
packaging==23.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
pandas==1.5.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pathos==0.3.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pillow==9.4.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pkgutil-resolve-name==1.3.10 ; python_full_version >= "3.8.1" and python_version < "3.9"
portalocker==2.7.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pox==0.3.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
ppft==1.7.6.6 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
protobuf3-to-dict==0.1.5 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
protobuf==3.20.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pycparser==2.21 ; python_full_version >= "3.8.1" and python_version < "4.0"
pydash==5.1.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
pyjwt==2.6.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
pyjwt[crypto]==2.6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pyparsing==3.0.9 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pyrsistent==0.19.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
python-dateutil==2.8.2 ; python_full_version >= "3.8.1" and python_version < "4.0"
pytorch-lightning==1.9.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pytz==2022.7.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pywavelets==1.4.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
pywin32==305 ; python_full_version >= "3.8.1" and platform_system == "Windows" and python_full_version < "4.0.0"
pyyaml==6.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
qudida==0.0.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
requests-oauthlib==1.3.1 ; python_full_version >= "3.8.1" and python_version < "4.0"
requests==2.28.2 ; python_full_version >= "3.8.1" and python_version < "4"
s3transfer==0.6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
sagemaker==2.137.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
schema==0.7.5 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
scikit-image==0.20.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
scikit-learn==1.2.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
scipy==1.9.3 ; python_full_version < "4.0.0" and python_full_version >= "3.8.1"
setuptools==67.6.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Linux"
shapely==2.0.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
six==1.16.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
smdebug-rulesconfig==1.0.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
strictyaml==1.7.3 ; python_full_version >= "3.8.1" and python_version < "4.0"
threadpoolctl==3.1.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
tifffile==2023.2.28 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
timm==0.6.12 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
torch==1.13.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
torchmetrics==0.10.3 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
torchtext==0.14.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
torchvision==0.14.1 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
tqdm==4.65.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
typeshed-client==2.2.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
typing-extensions==4.5.0 ; python_full_version >= "3.8.1" and python_version < "4.0"
urllib3==1.26.15 ; python_full_version >= "3.8.1" and python_version < "4"
wheel==0.38.4 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and platform_system == "Linux"
win32-setctime==1.1.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0" and sys_platform == "win32"
yarl==1.8.2 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
zipp==3.15.0 ; python_full_version >= "3.8.1" and python_full_version < "4.0.0"
